@model IEnumerable<StreetCountryWebApp.Models.Street>
@{
    ViewData["Title"] = "List of streets";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>StreetCountryWebApp</title>
</head>
<body>
    <form asp-controller="Streets" asp-action="Show">
        <p>
            Title: <input type="text" name="search" />
            <input type="submit" value="Find" />
        </p>
    </form>
    <a asp-action="Create">Create a street</a>
    <h3>Streets</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>CountryId</td>
            <td></td>
        </tr>
        @foreach (var street in Model)
        {
            <tr>
                <td>@street.Id</td>
                <td>@street.Name</td>
                <td>@street.CountryId</td>
                <td><a href="~/Streets/Edit/@street.Id">Edit</a></td>
                <td><a href="~/Streets/Delete/@street.Id">Delete</a></td>
            </tr>
        }
    </table>
</body>
</html>
