@model StreetCountryWebApp.Models.Street
@{
    ViewBag.Title = "Street Editing";
}
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CountryId" class="control-label">Country</label>
        <input type="number" asp-for="CountryId" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-default" />
    </div>
</form>